[submodule "kakao"]
	path = kakao
	url = https://github.com/jil8885/flask-kakao-i-hanyang
[submodule "transport/shuttle/timetable"]
	path = transport/shuttle/timetable
	url = https://github.com/jil8885/hanyang-shuttle-timetable
[submodule "api"]
	path = api
	url = https://github.com/jil8885/API-for-ERICA
	branch = light
[submodule "app"]
	path = app
	url = https://github.com/jil8885/fastapi-hanyang-app
